.card {
  width: 100px;
  min-height: 200px;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  img {
    width: 100%
  }
}

.modo-oscuro {
  .card {
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}

